<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<addSettings>
	<add key ="logPath" value="D:\VS\Проекты\Warehouse-OOP-Mentoring\Logs\Logger.txt"/>
	<add key ="savePath" value="D:\VS\Проекты\Warehouse-OOP-Mentoring\Store\"/>
	</addSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>